# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*.env

# gradle
build
.gradle

# other
eclipse
run
backup

# Files from Forge MDK
forge*changelog.txt
/src/main/resources/assets/mca/skins/old
/src/main/original-java
/mapppings
/mcmodsrepo
/local.properties

# Files from architectury
.architectury-transformer
/logs
/common/src/main/resources/assets/mca/textures/*.psd
/scripts/topMembers.json

.vscode/
*.kra
/scripts/translated/
/todo.md
*.kate-swp
/scripts/TTS/.env
/scripts/TTS/output/
/scripts/TTS/working/
/scripts/TTS/key.json
/common/src/main/resources/assets/mca_voices/
/scripts/TTS/temp.pcm
/immersiveLibraryToken
